html, body {
    min-height: 100vh;
    height: 100vh;
    max-width: 100%;
    margin: 0px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shadows Into Light', sans-serif;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    position: relative;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.full-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.hcenter {
    text-align: center;
    justify-content: center;
}

.vcenter {
    align-items: center;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}